In [2]:
import pandas as pd
import numpy as np

### Q1

In [3]:
pd.__version__

'2.3.2'

In [4]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df = pd.read_csv(url)
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2

In [5]:
len(df)

9704

### Q3

In [6]:
len(df['fuel_type'].unique())

2

### Q4

In [7]:
def missing_values_cols(df):
    count_of_missing_vals = 0
    cols = df.columns
    for col in cols:
        if df[col].isnull().sum():
            count_of_missing_vals += 1
    return count_of_missing_vals

In [8]:
print(missing_values_cols(df))

4

### Q5

In [9]:
asia_mpg = df[df['origin'] == 'Asia']
round(asia_mpg['fuel_efficiency_mpg'].max(),2)

np.float64(23.76)

### Q6

In [10]:
median = df['horsepower'].median()
median

np.float64(149.0)

In [11]:
max_repeated_hp = df['horsepower'].value_counts().index[0]

In [12]:
df['horsepower'] = df['horsepower'].fillna(max_repeated_hp)

In [13]:
post_median = df['horsepower'].median()

In [14]:
median

np.float64(149.0)

In [15]:
post_median

np.float64(152.0)

### Q7

In [16]:
asia_cars_df = df[df['origin'] == 'Asia']
asia_cars_df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [17]:
df_weight_year = df[['vehicle_weight', 'model_year']].head(7)
df_weight_year

   vehicle_weight  model_year
0     3413.433759        2003
1     3149.664934        2007
2     3079.038997        2018
3     2542.392402        2009
4     3460.870990        2009
5     2484.883986        2008
6     3006.542287        2012

In [18]:
X = df_weight_year.to_numpy()
X.shape

(7, 2)

In [19]:
XT = X.T
XT.shape

(2, 7)

In [20]:
XTX = np.dot(XT, X)
XTX.shape

(2, 2)

In [21]:
inv_XTX = np.linalg.inv(XTX)

In [22]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]
y = np.array(y)
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [23]:
inv_XTX_XT = np.dot(inv_XTX, XT)
inv_XTX_XT

array([[ 4.53988137e-04,  1.50583226e-04,  5.25653323e-05,
        -5.35760232e-04,  4.97198506e-04, -5.98746643e-04,
        -1.88279553e-05],
       [-6.11308746e-04, -1.55263108e-04, -7.58969157e-06,
         8.76125202e-04, -6.76025493e-04,  9.70734844e-04,
         9.94754429e-05]])

In [24]:
w = np.dot(inv_XTX_XT, y)
w

array([0.07099685, 0.41931263])

In [25]:
round(np.sum(w),2)

np.float64(0.49)